@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #55d8b0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.container{
  padding: 1.25rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .75rem;
  background-color: #ffffff;
  box-shadow: 0 5px 10 rgba(0, 0, 0, .1);
}

.button{
  border: none;
}

.button i{
  pointer-events: none;
}

.button:disabled{
  color: #b3b3b3;
  pointer-events: none;
}

.button, .link{
  width: 2.8125rem;
  height: 2.8125rem;
  font-size: 1.25rem;
  color: #333333;
  background-color: #f2f2f2;
  cursor: pointer;
  border-radius: 50%;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .75rem;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
}

.link.active{
  color: #ffffff;
  background-color: #47c8a1;
}

.button:hover, .link:hover{
  color: #ffffff;
  background-color: #47c8a1;
}